{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" id="welcome">
    <div class="text-center" stye="margin-top:15%">
        <h3>Welcome to The Neighborhood</h3>
        <h5 style="margin-top:6%" class="px-5">Get Started by joining your neighbourhood to be on the loop with the current news in
            your neighbourhood.</h5>
        <!-- <a href="{% url 'home' %}" class="btn btn-sm btn-info mt-4">Join Hood</a> -->
        <a href="{% url 'createHood' %}" class="btn btn-sm btn-info my-5">New Hood</a>

    </div>
    <div class="container-fluid">
        <div class="row">
            {% for hood in hoods %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{hood.hood_logo.url}}" class="card-img-top" alt={{hood.name}}>
                    <div class="card-body">
                        <h5 class="card-title">{{hood.hood_name}}, {{hood.location}} <span class="ml-4">{{hood.user.count}}
                                member {{hood.user.count | pluralize }}</span></h5>
                        <p class="card-text">{{ hood.description }}</p>
                        {% if request.user.profile.neighbourhood  == hood %}
                        <a href="{% url 'leave-hood'  hood.id %}" class="btn btn-outline-danger btn-sm">Leave Hood</a>
                        {% elif not request.user.profile.neighbourhood %}
                        <a href="{% url 'join-hood'  hood.id %}" class="btn btn-outline-danger btn-sm">Join Hood</a>
                        {% endif %}
                        <a href="{% url 'hood'  hood.id %}" class="btn btn-outline-danger btn-sm ml-5">View</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="card-deck">
            {% for post in posts %}
            <div class="card hpost pb-2">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">" {{post.post}} "
                    </p>
                    <p class="card-text">By: <small class="">
                        {{ post.user.user.username|title }}</small> <small style="float:right">{{post.date|date}}</small>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}